Many objects in Python are "iterable" meaning we can iterate over every element in the object. Such as every element in a list or every character in a string.

We can use for loops to exectue a block of code for every iteration.

The term iterable means you can "iterate" over the object. (Performs an action for everything in an object)

For example you can iterate over every character in a string, iterate over every item in a list, iterate over every key in a dictionary.

syntax of a for loop

my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)
    
(">>")1

(">>")2

(">>")3

my_iterable = variable name is a list [1,2,3]
item_name is a variable name that you can choose to be a bit of a placeholder for every single item in your iterable object. In this example the item_name represents the number in that list. Then we say "in" another key word, and then the variable name that you chose in this case my_iterable.

So, we are saying for every item or item name in this list if 1 to 3, then we have a colon and then we have some whitespace, and then we perform our execute of some block of code. In this case we are saying print item name, but you didn't actually use the item name.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

num is a variable that you chose, remember it could be anything you want. If we wanted to change it jelly and run it that way, it will give you the same result.

You can also print whatever you want instead of printing num you can print "hello" and it will print "hello" ten times.

we will now print out only the even numbers in my_list

In [7]:
for num in my_list:
    # Check for even numbers
    if num % 2 == 0:
        print(num)
        # Remember that % is to see the remainders if it is equal to 0 it will give you even numbers divisible by 2
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [11]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
    print(list_sum)   

# This grabbed all the numbers in the list and added them to themselves, giving the some of 55. Putting the 'Print'
# statement inside the for loop give you a running tally as shown below. With the print statement outside the for
# loop it will give you the sum of 55 only

1
3
6
10
15
21
28
36
45
55

In [16]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [17]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

Tuple and packing, tuples have a little bit of special quality when it comes to for loops. So, if you are iterating through a sequence that contains itself tuples, the item can be used with tuple unpacking

In [18]:
mylist = [(1,2),(3,4),(5,6),(7,8)] # a list of tuple pairs as items in that list

In [19]:
len(mylist) # there are 4 items in the list

4

In [20]:
for item in mylist:
    print(item) # will list out the tuples within the list

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [22]:
for (a,b) in mylist: b
    print(a) # will print the first number of every tuple
    print(b) # will print the 2nd number in the tuple

1
2
3
4
5
6
7
8

In [29]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

for a,b,c in mylist:
    print(a)
    print(b)
    print(c)
    print(a,b,c)

1
2
3
1 2 3
5
6
7
5 6 7
8
9
10
8 9 10

In [30]:
# How to iterate through a dictionary

In [32]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [33]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
for key,value in d.items():
    print(value)

1
2
3

In [35]:
for value in d.values():
    print(value)

1
2
3